* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 2px 12px;
  background: #fff;
  border-radius: 8px;
}

#logoIcon {
  width: 80px;
  border-radius: 80px;
}

ul {
  list-style: none;
}

#navbar {
  display: flex;
  align-items: center;
}

#navbar li {
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
}

#footer {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  margin: 20px 0;
  padding-bottom: 20px;

}


.card-container {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  margin: 10px;
 border-radius: 10px;
 
} 

.cards {
  margin: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  background:
      linear-gradient(to right bottom,
        rgba(255, 255, 255, 0.2),
        rgba(17, 2, 13, 0.829));
}

#image {
  width: 200px;
  margin: 10px 30px;
}

.heading {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
}

.heading h2 {
  color: #fff;
}

.heading i {
  color: red;
  font-size: 24px;
}

.card-container p {
  color: #fff;
  width: 200px;
  margin: 5px 30px;
  line-height: 20px;
}

button {
  margin: 5px 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
}
