* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 2px 12px;
  background: #fff;
  border-radius: 8px;
}

#logoIcon {
  width: 80px;
  border-radius: 80px;
}

ul {
  list-style: none;
}

#navbar {
  display: flex;
  align-items: center;
}

#navbar li {
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
}

.wrapper {
  position: fixed;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: rgb(66, 66, 108);
  color: #fff;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  display: none;
  height: 90%;
  overflow-y: scroll;
  padding: 16px 0;
}

.close-btn {
  position: absolute;
  right: 32px;
  top: 32px;
  font-size: 24px;
  background-color: #000;
  width: 35px;
  padding: 8px;
  cursor: pointer;
}

.details img {
  width: 300px;
  margin: 5% 30%;
}

.details h1 {
  text-align: center;
  margin: 2% 0;
}

.details p {
  text-align: center;
  margin: 3%;
  line-height: 28px;
  font-size: 18px;
}

.comments h2 {
  text-align: center;
  margin-bottom: 14px;
}

.comments p {
  text-align: center;
}

.add-comment h2 {
  text-align: center;
  margin: 12px 0;
}

form {
  margin: 0 30%;
}

input[type="text"] {
  margin: 8px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.cards p {
  text-align: start;
  color: #fff;
  height: auto;
  margin: 10px;
}

#footer p {
  padding: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 10px;
  border-radius: 10px;
}

.cards {
  margin: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  background:
    linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.2),
      rgba(17, 2, 13, 0.829)
    );
}

#image {
  width: 200px;
  margin: 10px 30px;
}

.heading {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
}

.heading h2 {
  color: #fff;
}

.heading i {
  color: red;
  font-size: 24px;
}

button {
  margin: 5px 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
}

.active {
  display: block;
}
